@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+Georgian:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

aside,
footer,
header,
legend,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background: 0 0;
  cursor: pointer;
}

button:active,
button:focus,
input:active,
input:focus {
  outline: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

.desc {
  color: #424242;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.title {
  font-family: Georgia;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 157%;
}

:root {
  scroll-behavior: smooth;
}

[class*=__container] {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background-color: #01996d;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background-color: #00a979;
}
.btn a {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

body {
  font-family: "Lato";
}

a {
  color: #000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 85px;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  gap: clamp(0.625rem, -9.063rem + 25.83vw, 4.5rem);
}
.header__menu-item {
  display: none;
}
.header__menu-item a {
  transition: 0.2s;
}
.header__menu-item a:hover {
  color: #01996d;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 35px;
}
.header__buttons-sing a {
  color: #000;
}
@media (max-width: 928px) {
  .header__buttons-sing {
    display: none;
  }
}
.header__buttons-start {
  padding: 13px 40px;
}

.manage {
  background: url(../img/header-bg.png) center center/cover no-repeat;
  height: 800px;
}
.manage__title {
  max-width: 440px;
  color: #01996d;
  padding-top: 175px;
  font-family: Georgia;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.manage__desc {
  max-width: 440px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #484848;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 157%; /* 31.4px */
}
.manage__btn {
  display: flex;
  padding: 20px 50px;
  max-width: 200px;
}

.works__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .works__container {
    flex-direction: column;
  }
}
.works__header {
  max-width: 584px;
  padding-top: 156px;
}
.works__undertitle {
  color: #424242;
  font-size: 18px;
  font-weight: 600;
  line-height: 157%;
}
.works__title {
  color: #01996d;
  font-family: Georgia;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 157%;
}
.works__desc {
  padding-top: 214px;
  max-width: 660px;
}
@media (max-width: 1200px) {
  .works__desc {
    padding-top: 40px;
  }
}

.cards {
  margin-top: 187px;
}
.cards__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 965px) {
  .cards__container {
    flex-direction: column;
    gap: 70px;
  }
}
.cards__item-2 {
  margin-top: 140px;
}
@media (max-width: 965px) {
  .cards__item-2 {
    margin-top: 0;
  }
}
.cards__item {
  max-width: clamp(18.75rem, 10.202rem + 14.17vw, 24.375rem);
}
@media (max-width: 965px) {
  .cards__item {
    max-width: 500px;
  }
}
.cards__item-header {
  position: relative;
}
.cards__item-undertext {
  position: absolute;
  color: rgba(1, 153, 109, 0.2);
  text-align: center;
  font-family: Georgia;
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  top: -120px;
}
.cards__item-title {
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.cards__item-text {
  margin-top: 55px;
}
.cards__item-img img {
  margin-top: 37px;
  border-radius: 12px;
}

.video {
  margin-top: 51px;
  background-color: #245852;
}
.video__container {
  padding-top: 100px;
  padding-bottom: 180px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1500px) {
  .video__container {
    flex-direction: column;
  }
}
.video__text {
  max-width: 580px;
}
.video__text-title {
  padding-top: 70px;
  color: #fff;
}
.video__text-desc {
  color: #fff;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 157%;
  margin-top: 33px;
}
.video__text-btb {
  margin-top: 57px;
  max-width: 210px;
  padding: 20px 50px;
}
.video__img {
  position: relative;
  text-align: center;
}
@media (max-width: 1500px) {
  .video__img {
    margin-top: 50px;
  }
}
.video__play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: clamp(3.125rem, 0.411rem + 13.57vw, 5.5rem);
}

.our {
  margin-top: 120px;
}
.our__container {
  display: flex;
  justify-content: space-between;
  gap: 86px;
}
.our__head-img {
  width: 638.465px;
  height: 573.26px;
  background-color: rgba(1, 153, 109, 0.2);
  text-align: center;
  margin-left: 60px;
}
.our__card {
  background-color: #fff;
  width: 296.139px;
  height: 293.901px;
  filter: drop-shadow(0px 3.622494936px 18.1124744415px rgba(165, 165, 165, 0.25));
  z-index: 3;
  margin-top: -230px;
  border-radius: 4px;
}
.our__card-title {
  padding-top: 20px;
  text-align: center;
  font-size: 14.49px;
  font-weight: 600;
  line-height: 157%;
}
.our__line {
  width: 110.486px;
  height: 0.746px;
  background-color: #000;
  margin-top: 7px;
  margin: 0 auto;
}
.our__circle img {
  border-radius: 50%;
}
.our__circle {
  text-align: center;
  margin-top: 20px;
}
.our__circle p {
  text-align: center;
  font-size: 11.935px;
  font-weight: 400;
  line-height: 157%;
  margin-top: 8px;
}
.our__card-content {
  font-family: Georgia;
  font-size: 15.929px;
  font-style: normal;
  font-weight: 700;
  line-height: 157%;
  margin-left: 61px;
  margin-top: 20px;
}
.our__list li {
  text-align: center;
  font-family: Lato;
  font-size: 10.619px;
  font-style: normal;
  font-weight: 400;
  line-height: 157%;
  text-align: left;
}
.our__text {
  max-width: 590px;
  margin-right: auto;
}
.our__undertext {
  color: #424242;
  font-size: 25px;
  font-weight: 600;
  line-height: 157%;
}
.our__title {
  color: #01996d;
  font-family: Georgia;
  font-size: 50px;
  font-weight: 700;
  line-height: 157%;
}
.our__btn {
  margin-top: 40px;
  padding: 20px 50px;
  max-width: 200px;
}

.footer {
  margin-top: 168px;
  background-color: #245852;
}
.footer__container {
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer__text ul {
  display: flex;
  gap: 60px;
}
.footer__text a {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */