* {
  padding: 0;
  margin: 0;
  border: none;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}
aside,
footer,
header,
legend,
main,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}
ul,
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
img,
svg {
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}
input::-ms-clear {
  display: none;
}
button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background: 0 0;
  cursor: pointer;
}
button:active,
button:focus,
input:active,
input:focus {
  outline: 0;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
label {
  cursor: pointer;
}

$accent: #01996d;

.desc {
  color: #424242;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.title {
  font-family: Georgia;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 157%;
}

:root {
  scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+Georgian:wght@700&display=swap");

[class*="__container"] {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background-color: $accent;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: #00a979;
  }
  a {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
}

body {
  font-family: "Lato";
}

a {
  color: #000;
}
.header {
  &__container {
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    gap: clamp(0.625rem, -9.063rem + 25.83vw, 4.5rem);
  }

  &__menu-item {
    display: none;
    a {
      transition: 0.2s;
      &:hover {
        color: $accent;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  &__buttons-sing {
    a {
      color: #000;
    }
    @media (max-width: 928px) {
      display: none;
    }
  }

  &__buttons-start {
    padding: 13px 40px;
  }
}

.manage {
  background: url(../img/header-bg.png) center center/cover no-repeat;
  height: 800px;
  &__container {
  }

  &__title {
    max-width: 440px;
    color: #01996d;
    padding-top: 175px;
    font-family: Georgia;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__desc {
    max-width: 440px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #484848;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%; /* 31.4px */
  }

  &__btn {
    display: flex;
    padding: 20px 50px;
    max-width: 200px;
  }
}

.works {
  &__container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__header {
    max-width: 584px;
    padding-top: calc(78px * 2);
  }

  &__undertitle {
    color: #424242;
    font-size: 18px;
    font-weight: 600;
    line-height: 157%;
  }

  &__title {
    color: $accent;
    font-family: Georgia;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 157%;
  }

  &__desc {
    padding-top: calc(136px + 78px);
    max-width: 660px;
    @media (max-width: 1200px) {
      padding-top: 40px;
    }
  }
}

.cards {
  margin-top: 187px;

  &__container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 965px) {
      flex-direction: column;
      gap: 70px;
    }
  }

  &__item-2 {
    margin-top: 140px;
    @media (max-width: 965px) {
      margin-top: 0;
    }
  }

  &__item {
    max-width: clamp(18.75rem, 10.202rem + 14.17vw, 24.375rem);
    @media (max-width: 965px) {
      max-width: 500px;
    }
  }

  &__item-header {
    position: relative;
  }

  &__item-undertext {
    position: absolute;
    color: rgba(1, 153, 109, 0.2);
    text-align: center;
    font-family: Georgia;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    top: -120px;
  }

  &__item-title {
    text-align: center;
    font-family: Georgia;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  &__item-text {
    margin-top: 55px;
  }

  &__item-img img {
    margin-top: 37px;
    border-radius: 12px;
  }
}

.video {
  margin-top: 51px;
  background-color: #245852;
  &__container {
    padding-top: 100px;
    padding-bottom: 180px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1500px) {
      flex-direction: column;
    }
  }

  &__text {
    max-width: 580px;
  }

  &__text-title {
    padding-top: 70px;
    color: #fff;
  }

  &__text-desc {
    color: #fff;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%;
    margin-top: 33px;
  }

  &__text-btb {
    margin-top: 57px;
    max-width: 210px;
    padding: 20px 50px;
  }

  &__img {
    position: relative;
    text-align: center;
    @media (max-width: 1500px) {
      margin-top: 50px;
    }
  }
  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: clamp(3.125rem, 0.411rem + 13.57vw, 5.5rem);
  }
}

.our {
  margin-top: 120px;
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 86px;
  }

  &__images {
  }

  &__head-img {
    width: 638.465px;
    height: 573.26px;
    background-color: #01996d33;
    text-align: center;
    margin-left: 60px;
  }

  &__card {
    background-color: #fff;
    width: 296.139px;
    height: 293.901px;
    filter: drop-shadow(
      0px 3.62249493598938px 18.11247444152832px rgba(165, 165, 165, 0.25)
    );
    z-index: 3;
    margin-top: -230px;
    border-radius: 4px;
  }

  &__card-title {
    padding-top: 20px;
    text-align: center;
    font-size: 14.49px;
    font-weight: 600;
    line-height: 157%;
  }

  &__line {
    width: 110.486px;
    height: 0.746px;
    background-color: #000;
    margin-top: 7px;
    margin: 0 auto;
  }

  &__circle img {
    border-radius: 50%;
  }

  &__circle {
    text-align: center;
    margin-top: 20px;
  }

  &__circle p {
    text-align: center;
    font-size: 11.935px;
    font-weight: 400;
    line-height: 157%;
    margin-top: 8px;
  }

  &__card-content {
    font-family: Georgia;
    font-size: 15.929px;
    font-style: normal;
    font-weight: 700;
    line-height: 157%;
    margin-left: 61px;
    margin-top: 20px;
  }

  &__list li {
    text-align: center;
    font-family: Lato;
    font-size: 10.619px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%;
    text-align: left;
  }

  &__text {
    max-width: 590px;
    margin-right: auto;
  }

  &__undertext {
    color: #424242;
    font-size: 25px;
    font-weight: 600;
    line-height: 157%;
  }

  &__title {
    color: #01996d;
    font-family: Georgia;
    font-size: 50px;
    font-weight: 700;
    line-height: 157%;
  }

  &__desc {
  }

  &__btn {
    margin-top: 40px;
    padding: 20px 50px;
    max-width: 200px;
  }
}

.footer {
  margin-top: 168px;
  background-color: #245852;
  &__container {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
  }

  &__text ul {
    display: flex;
    gap: 60px;
  }

  &__text a {
    color: #fff;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
